.login-box{
    border: 1px black solid;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    margin-top: 300px;
}

form, button{
    margin-top: 50px;
}

a:link {
    color : black;
}
a:visited {
    color : black;
}
a:hover {
    color : black;
}
a:active {
    color : black
}