{% load static %}
<html>
    <head>
        <title>web Service programming blog</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/checkList.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <script src="{% static 'js/graph.js' %}"></script>
    </head>
    <body>
        <h1 class="title">매일매일 체크리스트</h1>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation"> <a href="/index"> 체크리스트 </a> </li>
            <li role="presentation"  class ="active"> <a href="/graph"> 통계 </a> </li>
        </ul>
        <div class="row">
            <div class="col-xs-4 col-md-4">
                <ul>
                    <form action="">
                        <li><input class="form-check-input" type="checkbox" value="" id="checkList1"> 체크리스트 1</li>
                        <li><input class="form-check-input" type="checkbox" value="" id="checkList2"> 체크리스트 2</li>
                        <li><input class="form-check-input" type="checkbox" value="" id="checkList3"> 체크리스트 3</li>
                        <li><input class="form-check-input" type="checkbox" value="" id="checkList4"> 체크리스트 4</li>
                        <button type="submit"> 적용 </button>
                    </form>
                </ul>
            </div>
            <div class="col-xs-8 col-md-4">
                <div class="btn btn-primary" id="barG" onclick="barChart()">막대 그래프</div>
                <div class="btn btn-info" id="lineG" onclick="lineChart()">줄 그래프</div>
                <div class="container">
                    <canvas id="myChart"></canvas>
                </div>
                <script>
                    barChart()
                </script>
            </div>
        </div>
    </body>
</html>