{% extends 'checkList/base.html' %}
{% load static %}

{% block static %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/checkList.css' %}?ver=2">
{% endblock static %}

{% block presentation %}
    <li role="presentation"> <a href="/index"> 체크리스트 </a> </li>
    <li role="presentation"  class ="active"> <a href="/graph"> 통계 </a> </li>
{% endblock presentation %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="row side-menu">
                <div>
                    <h3>체크리스트</h3>
                </div>
                {%for checkList in checkLists%}
                    <div>
                        <input class="form-check-input checkList-item" type="checkbox" name="{{checkList.checkListName}}"> {{checkList.checkListName}}</input>
                    </div>
                {% endfor %}
                <div class="row side-menu btn btn-default" onclick="submit()">
                    그래프 만들기
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="btn btn-primary" id="barG">막대 그래프</div>
            <div class="btn btn-info" id="lineG">줄 그래프</div>
            <div class="container">
                <canvas id="myChart"></canvas>
            </div>
        <script src="{% static 'js/graph.js' %}?ver=33"></script>
        </div>
    </div>
{% endblock content %}
