{%load static%}

<html>
    <head>
        <title>web Service programming blog</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/checkList.css' %}">
    </head>
    <body>
        <h1 class="title">매일매일 체크리스트</h1>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class ="active"> <a href="/index"> 체크리스트 </a> </li>
            <li role="presentation"> <a href="/graph"> 통계 </a> </li>
        </ul>
        <table class="table checkList">
            <thead>
                <th>체크리스트 목록</th>
            </thead>
            <tbody>
                {% for checkList in checkLists%}
                <tr>
                    <td><a href="">{{checkList.checkListName}}</a></td>
                </tr>
                {% endfor %}
            </tbody>
            <a href="/makeCheckList"> 체크리스트 만들기 </a>
        </table>
    </body>
</html>