{% extends 'checkList/base.html' %}
{%load static%}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/checkList.css' %}?ver=10">
    <script src="{% static 'js/index.js' %}"></script>
{% endblock static %}

{% block presentation %}
    <li role="presentation" class ="active"> <a href="/index"> 체크리스트 </a> </li>
    <li role="presentation"> <a href="/graph"> 통계 </a> </li>
{% endblock presentation %}

{% block content %}
    <div class="row">
        <div class="col-md-2">
            <div class="row side-menu">
                <a href="/makeCheckList" class="btn btn-default" role="button">체크리스트 만들기</a>
            </div>
            <div class="row side-menu">
                {% if deleteMode %}
                    <a class="btn btn-default delete-button" role="button" onclick="submit()">체크리스트 삭제하기</a>
                {% else %}
                    <a href="/deleteCheckList" class="btn btn-default" role="button">체크리스트 삭제하기</a>
                {% endif %}
            </div>
        </div>
        <div class="col-md-9">
            <table class="table checkList">
                {% if deleteMode %}
                    <thead>
                        <th>삭제 여부</th>
                        <th>체크리스트 목록</th>
                    </thead>
                    <tbody>
                        {% csrf_token %}
                        {% for checkList in checkLists%}
                        <tr style="text-align: left;">
                            <td><input class="form-check-input checkList-item" style="margin-left:30%; "type="checkbox" name="{{checkList.checkListName}}"> {{checkList.checkListName}}</input></td>
                            <td><a href="/checkList/{{checkList.checkListName}}" style="margin-left:30%; ">{{checkList.checkListName}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                {% else %}
                    <thead>
                        <th>체크리스트 목록</th>
                    </thead>
                    <tbody>
                        {% for checkList in checkLists%}
                        <tr>
                            <td><a href="/checkList/{{checkList.checkListName}}">{{checkList.checkListName}}</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div> 

    </div>

{% endblock content %}