{% extends 'checkList/base.html' %}
{% load static %}

{% block static %}
    <link rel="stylesheet" href="{% static 'css/makeCheckList.css' %}">
    <link rel="stylesheet" href="{% static 'css/checkList.css' %}">
    <script src="{% static 'js/makeCheckList.js' %}"></script>
{% endblock static %}

{% block presentation %}
    <li role="presentation" class ="active"> <a href="/index"> 체크리스트 </a> </li>
    <li role="presentation"> <a href="/graph"> 통계 </a> </li>
{% endblock presentation %}


{% block content %}
    <div class=make-box>
        항목 개수 : <div id ="numberOfItem" style="display:inline-block;">0</div><br><br>
        체크리스트 이름 : <input type="text" name="checkListName" id="checkListName">
        <div id="itemList">
        {% csrf_token %}
        </div>
            <br><br>
            <div class="btn btn-primary" id="makeList" onclick="submit()">체크리스트 생성</div>
            <div class="btn btn-primary" id="addItem" onclick="addItem()">목록 추가</div>
        
    </div>
{% endblock content %}
